/*!*********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/home/Home.css ***!
  \*********************************************************************/
 @property --fontSizeSmall {
     syntax: "<length>";
     inherits: false;
     initial-value: 20px;
 }

@property --fontSizeMedium {
    syntax: "<length>";
    inherits: false;
    initial-value: 24px;
}

.Categories .selected {
    font-weight: bolder;
    color: #f1f;
}

body {
    background-color: black;
    color: white;
}

menu {
    background-color: #02111c;
    display: inline-block;
    padding: 0;
    margin: 0;
    border: solid 1px #0e5182;
    width: 100%;
}

    menu li {
        display: inline-block;
        clear: none;
        padding: 2px;
        margin: 3px;
        text-align: center;
        background-color: #052c49;
        font-size: var(--fontSizeSmall);
        font-weight: bold;
        border-radius: 5px;
    }

        menu li:hover {
            background-color: #0e5182;
        }



dotnet-dialog .ButtonGroup {
 
    position:absolute;
    right:0;
    bottom:0;
 
}

    dotnet-dialog .ButtonGroup button {
        background-color: transparent;
        font-size: var(--fontSizeSmall);
        margin: 5px;
        user-select: none;
        cursor: pointer;
        opacity: 0.6;
        text-shadow: 0.4px 0.4px 0px #222, -0.4px -0.4px 0px #222, 0.4px -0.4px 0px #222, -0.4px 0.4px 0px #222;
    }
        dotnet-dialog .ButtonGroup button:hover {
            /* background-color: #b0b0b0;*/
            opacity: 0.8;
        }

        dotnet-dialog .ButtonGroup button:active {
            opacity: 1;
            /*
            border-color: white;
            border-top-color: black;
            border-left-color: black;
                */
        }



dotnet-dialog .disabled {
    opacity: 0.15 !important;
    cursor: not-allowed !important;
}

dotnet-dialog .AbortButton {
    color: #f00;
}

dotnet-dialog .CompleteButton {
    color: #fb0;
}

dotnet-dialog .NextButton {
    color: #00f;
}



menu li img {
    display: inline-block;
    clear: both;
    width: 32px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

menu li div {
    font-size: var(--fontSizeSmall);
}



.ControlGroup {
    padding-bottom: 2px;
    display: inline-block;
}

dotnet-dialog input {
    border: 0;
    margin: 2px;
    padding: 2px;
    border-radius: 4px;
    color: white;
    background-color: #111;
}

    dotnet-dialog input:focus-visible {
        background-color: #333;
        outline: -webkit-focus-ring-color auto 0px;
    }

dotnet-dialog .OuterTemplateWrapper {
    height: 60vh;
}

dotnet-dialog div.Categories {
    /* display: inline-block; */
    width: calc(15% - 8px);
    overflow: hidden;
    font-size: var(--fontSizeSmall);
    float: left;
    height: 76vh;
    overflow-y: auto;
    user-select: none;
    cursor: pointer;
    margin: 4px;
}

dotnet-dialog fieldset {
    margin: 0;
    padding: 0;
    border: 0;
    position:absolute;
    bottom:0;
    left:0;
}

dotnet-dialog .Templates {
    float: left;
    width: calc(85% - 10px);
    height: 100%;
    overflow-y: auto;
    padding: 5px;
}

dotnet-dialog ::-webkit-scrollbar {
    width: 2.5px;
}

/* Track */
dotnet-dialog ::-webkit-scrollbar-track {
    background: linear-gradient(135deg, rgba(196,48,80,.5) 0%, rgba(119,0,68,.5) 35%, rgba(17,0,51,.5) 100%);
}

/* Handle */
dotnet-dialog ::-webkit-scrollbar-thumb {
    /* background: #5f5f5f;*/
    background: linear-gradient(0deg, rgba(255,255,255,.0) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,0) 100%);
}

    /* Handle on hover */
    dotnet-dialog ::-webkit-scrollbar-thumb:hover {
        background: #c8c8c8;
        border: solid 0.1px rgba(196,48,80,1);
    }




dotnet-dialog .group {
    display: inline-block;
    user-select: none;
    cursor: pointer;
    margin: 0px;
    margin-left: 1px;
    margin-right: 1px;
    padding: 2px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 10px;
    font-size: var(--fontSizeSmall);
    border: solid 0.5px #e90085;
}

    dotnet-dialog .group div:first-child {
        font-weight: bold;
        text-align: center;
        color: bisque;
        font-size: var(--fontSizeMedium);
    }

        dotnet-dialog .group div:first-child::first-letter {
            text-transform: capitalize;
        }

    dotnet-dialog .group.selected {
        border: solid 0.5px white;
    }



    dotnet-dialog .group:hover {
        background: linear-gradient(135deg, rgba(196,48,80,1) 0%, rgba(119,0,68,1) 35%, rgba(17,0,51,1) 100%);
    }

dotnet-dialog span.lang {
    padding-right: 3px;
}

dotnet-dialog dialog {
    background-color: black;
    color: white;
    width: 70vw;
    height: 85vh;
    padding: 0;
    overflow: hidden;
}

dotnet-dialog header {
    background-color: #02111c;
    border: solid 1px #0e5182;
    width: 100%;
    padding: 3px;
}


#FileView img {
    width: 16px;
    max-height: 16px;
    vertical-align: middle;
}

#FileVie {
    display: block;
}

#FileView .group {
    display: block;
    float: left;
    padding: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    background-color: #211;
    vertical-align: central;
    margin: 2px;
    font-size: var(--fontSizeMedium);
    border-radius: 0 10px 10px 0;
}

    #FileView .group.dir:hover {
        background-color: #311;
    }


    #FileView .group div {
        display: inline-block;
        padding-left: 2px;
        padding-right: 2px;
        vertical-align: middle;
    }

.PathDisplay {
    background-color: #111;
    border: solid 1px silver;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: var(--fontSizeSmall);
    width: 100%;
}

