
menu {
    background-color: #02111c;
    display: inline-block;
    padding: 0;
    margin: 0;
    border: solid 1px #0e5182;
    width: 100%;
}

    menu li {
        display: inline-block;
        clear: none;
        padding: 0.5em;
        margin: 0.5em;
        text-align: center;
        background-color: #052c49;
    }

        menu li:hover {
            background-color: #0e5182;
        }

dotnet-dialog .ButtonGroup {
}

dotnet-dialog .dialogButton {
}

dotnet-dialog .AbortButton {
    background-color: red;
    color: white;
    margin: 5px;
    border: solid 2px darkred;
    text-shadow: 1px 1px 1px black, 1.5px 1.5px 1px black;
}

dotnet-dialog .CompleteButton {
    background-color: #926800;
    color: white;
    margin: 5px;
    border: solid 2px #573d00;
    text-shadow: 1px 1px 1px black, 1.5px 1.5px 1px black;
}

dotnet-dialog .NextButton {
    background-color: #1a7800;
    color: white;
    margin: 5px;
    border: solid 2px #135100;
    text-shadow: 1px 1px 1px black, 1.5px 1.5px 1px black;
}

menu li img {
    display: inline-block;
    clear: both;
    width: 2.5em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
        menu li div {
            font-size: .7em;
        }

body {
    background-color: black;
    color: white;

}
 
.ControlGroup {
    padding-bottom: 0.1em;
    display: inline-block;
}

dotnet-dialog input {
    border: 0;
    margin: 0.2em;
    padding: 0.2em;
    border-radius: 0.4em;
    color: white;
    background-color: #111;
}
dotnet-dialog input:focus-visible {
    background-color: #333;
    outline: -webkit-focus-ring-color auto 0px;
}


    dotnet-dialog .group {
    display: inline-block;
    background-color: #704;
    margin: 5px;
    padding: 5px;
    border-radius: 0.5em;
    font-size: 0.7em;
    border: solid 1px white;
}

        dotnet-dialog .group.selected {
            background-color: #570333;
            border: solid 2px white;
        }



        dotnet-dialog .group:hover {
            background-color: #a37;
        }


dotnet-dialog dialog {
    background-color: black;
    color: white;
}

#FileView  img {
width:1em;
height: 1em;
}


#FileVie {
display:block;
}

#FileView .group {
    display: block;
    float: left;
    padding: 0.15em;
    background-color: #211;
    margin: 2px;
    font-size: 0.6em;
    border-radius: 1em;
}
    #FileView .group.dir:hover {
        background-color: #311;
    }


    #FileView .group div {
        display: inline-block;
        padding-left: 2px;
        padding-right: 2px;
    }

.PathDisplay {
    background-color: #111;
    padding: 0.2em;
    border: solid 1px silver;
    margin-top: 2px;
    margin-bottom: 2px;
}
